*{
    border: solid 1px;
    font-family: 'Times New Roman', Times, serif
}

/* 
#507A4A - dark green
#C0C480 - light green
#FFEAA4 - yellowish
#FFCDA4 - peach
#FF938D - pink 
*/

div #nav{
    display: block;
}
div #highlights{
    width: 40%;
}
header{
    width: 100%;
}
#highlights{
    width: 40%;
    font-size: 24px;
    font-family: 'Barriecito', cursive;
}
h1{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
    clear: both;
}
h3{
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
}
li a{
    float: left;
    display:block;
    color: green;
    text-align: center;
    padding: 10px 12px;
}
#split{
    width: 100%;
}
#split div{
    width: 45%;
    display: inline-block;
}
table{
    font-family: Arial, Helvetica, sans-serif
}
td{
    text-align: center;
}
th{
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}